@charset 'utf-8';


@import "libs";
@import 'global/fonts';
@import 'settings';

//common
@import 'global/mixins';

html,
body {
  height: 100%;
  font-family: $font-family;
  font-size: 13px;
  line-height: 14px;
}

//components
@import "components/custom-carousel";
@import "components/start-screen";

