@mixin button-color($color) {
  background-color: $color;
  border-color: $color;

  &:not(:disabled):not(.disabled):active {
    background-color: $color;
    border-color: $color;
    box-shadow: 0 0 0 0.2rem rgba($color, 0.5);
  }

  &:focus {
    box-shadow: none;
  }
}
