.custom-carousel {
  display: none;

  &.show {
    display: block;
  }
}

.custom-carousel .carousel-item {
  position: relative;
}

.custom-carousel .carousel-slide img {
  object-position: -18px 0;

  @include media-breakpoint-up(md) {
    object-position: -270px 0;
  }

  @include media-breakpoint-up(xl) {
    object-position: 0 0;
  }
}

.custom-carousel .carousel-slide-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 1;

  @include media-breakpoint-up(md) {
    width: 51.3%;
    height: 675px;
    text-align: left;
  }

  @include media-breakpoint-up(xl) {
    width: 54.3%;
  }
}

.custom-carousel .carousel-slide-content h2 {
  margin-top: -8px;
  font-size: 25px;

  @include media-breakpoint-up(md) {
    margin-top: -40px;
    font-size: 35px;
  }

  @include media-breakpoint-up(xl) {
    margin-top: -5px;
    font-size: 42px;
  }
}

.custom-carousel .carousel-slide-content p {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 18px;

  @include media-breakpoint-up(md) {
    margin-top: 15px;
    font-size: 22px;
  }

  @include media-breakpoint-up(xl) {
    margin-top: 15px;
    font-size: 26px;
  }
}

.custom-carousel .carousel-slide-links {
  margin-top: 15px;

  @include media-breakpoint-up(md) {
    margin-top: 10px;
  }

  @include media-breakpoint-up(xl) {
    margin-top: 20px;
  }
}

.custom-carousel .carousel-slide-links .btn {
  padding: 8px 24px;
  font-size: 13px;

  @include media-breakpoint-up(md) {
    padding: 8px 25px;
  }

  @include media-breakpoint-up(xl) {
    padding: 9px 28px;
    font-size: 16px;
  }

  &:first-child {

    @include media-breakpoint-up(md) {
      margin-right: 15px;
    }

    @include media-breakpoint-up(xl) {
      margin-right: 20px;
    }
  }
}

.custom-carousel .carousel-slide-links .btn-primary {
  @include button-color($orange);
}

.custom-carousel .carousel-indicators {
  margin-bottom: 27px;
  margin-right: 0;
  margin-left: 0;

  @include media-breakpoint-up(md) {
    margin-bottom: 24px;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 20px;
  }
}

.custom-carousel .carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid $black;
  background-color: transparent;
  opacity: 1;

  @include media-breakpoint-up(md) {
    margin-right: 7px;
    margin-left: 7px;
    width: 225px;
    height: auto;
    text-indent: unset;
    border-radius: unset;
    border: unset;
    background-color: transparent;
  }

  @include media-breakpoint-up(xl) {
    width: 275px;
  }
}

.custom-carousel .carousel-indicators li.active {
  background-color: $black;

  @include media-breakpoint-up(md) {
    background-color: transparent;
  }
}

.custom-carousel .carousel-indicators .media {
  padding: 6px;
  background-color: rgba($black, 0.2);
  border-radius: 3px;
}

.custom-carousel .carousel-indicators .active .media {
  background-color: rgba($black, 0.7);
}

.custom-carousel .carousel-indicators .media img {
  margin-right: 8px;
  width: 40px;
  height: 44px;
  border-radius: $border-radius;

  @include media-breakpoint-up(xl) {
    margin-right: 12px;
    width: 48px;
    height: 56px;
  }
}

.custom-carousel .carousel-indicators .media h5 {
  font-size: 9px;
  color: $white;

  @include media-breakpoint-up(xl) {
    font-size: 11px;
  }
}

.custom-carousel .carousel-indicators .media p {
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
  color: $white;

  @include media-breakpoint-up(xl) {
    font-size: 12px;
    line-height: 17px;
  }
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  width: unset;
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  width: 75px;
  height: 86px;
  background-size: 16px 24px;
  background-color: rgba($black, 0.2);
  border-radius: $border-radius;
}

.custom-carousel .carousel-control-prev-icon {
  background-image: url("../img/svg/left-arrow.svg");
  background-position: 22px 50%;
}

.custom-carousel .carousel-control-next-icon {
  background-image: url("../img/svg/right-arrow.svg");
  background-position: 38px 50%;
}

