.start-screen {
  height: 100vh;
  background-color: $gray;

  &.hide {
    display: none !important;
  }
}

.start-screen .btn {
  padding: 9px 23px;
  font-size: 16px;
  @include button-color($orange);
}
