<picture class="carousel-slide">
  <source srcset="{{root}}/assets/img/slides/{{name}}.jpg" media="(min-width: 768px)">
  <img src="{{root}}/assets/img/slides-mobile/{{name}}min.jpg" class="d-block" alt="Slide 1">
  <div class="carousel-slide-content">
    <h2>Этот текст добавлен для <br>демонстрации на странице</h2>
    <p class="d-none d-md-block">Акция действует с 01.07.18 по 31.07.18</p>
    <p class="d-md-none">Тест на внимательность</p>
    <div class="carousel-slide-links">
      <a href="#" class="btn btn-primary btn-lg text-uppercase">Подробнее</a>
      <a href="#" class="btn btn-outline-dark btn-lg d-none d-md-inline-block text-uppercase">Все акции</a>
    </div>
  </div>
</picture>
